<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wataxi.epidemic.mapper.AnswerMapper">

    <sql id="BaseSql" >
        a.id,a.name,a.sex,a.create_time,a.header
    </sql>
   <delete id="deleteByQuestionId">
       update  answer set sign = 1 where qid = #{id}
   </delete>

</mapper>